<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="netw4ppl.ines">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netw4ppl"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DisplayDetailsRelationActivity"
            android:label="@string/display_details_relation_activity_title"
            android:parentActivityName=".ManageRelationsActivity"/>
        <activity
            android:name=".DisplayDetailsPersonActivity"
            android:label="@string/display_details_person_activity_title"
            android:parentActivityName=".ManagePersonsActivity"/>
        <activity
            android:label="@string/add_relation_activity_title"
            android:parentActivityName=".ManageRelationsActivity"
            android:name=".AddRelationActivity" />
        <activity
            android:name=".ManageRelationsActivity"
            android:label="@string/manage_relations_activity_title"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddPersonActivity"
            android:label="@string/add_person_activity_title"
            android:parentActivityName=".ManagePersonsActivity"/>
        <activity
            android:name=".ManagePersonsActivity"
            android:label="@string/manage_persons_activity_title"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" /> <!-- <activity -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="netw4ppl.ines.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>