<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="netw4ppl.ines">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netw4ppl">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
<!--        <activity-->
<!--            android:name=".ManageRelationsActivity"-->
<!--            android:label="@string/title_activity_manage_relations"-->
<!--            android:parentActivityName=".MainActivity" />-->
<!--        <activity-->
<!--            android:name=".AddPerson"-->
<!--            android:label="@string/title_activity_add_person"-->
<!--            android:parentActivityName=".ManagePersonsActivity" />-->
<!--        <activity-->
<!--            android:name=".ManagePersonsActivity"-->
<!--            android:parentActivityName=".MainActivity" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="netw4ppl.ines.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>